<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>My Stations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'stations/css/stat_style.css' %}">
    <link rel="stylesheet" href="{% static 'map/css/buttons.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="/static/stations.js"></script>
</head>
<body id="bod">
    <div class="pos-f-t">
    </div>
    <nav class="navbar navbar-dark bg-light">

        <img class="logo" src="https://icon-library.com/images/c216839f9c.png" onclick="change();"/>
        <div>
            <div class="bg-light p-4">
                <ul class="nav list-inline ml-auto">
                    <li>
                        <button class="button button-glow button-rounded button-royal button-pill" onclick="logOut()">
                            Logout
                        </button>
                    </li>
                    <li><a class="button button-glow button-rounded button-primary button-pill" href="/map">Map</a></li>
                    <li><a class="button button-glow button-rounded button-royal button-pill" href="">Refresh Data</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    </div>
</header>
<div id="greeting">
    <br>
    {% if user.is_authenticated %}
    <h4>Hello, {{user.name}}!</h4>
    <br>
    {%else%}
    <h4>You are not logged in! Return to the map page and log in to see your favourite stations.</h4>
    {%endif%}

<div id="main" class="main-panel">

    <div id="sel_container dropdown" class="container-fluid" >

    <div id="sel_container dropdown" class="container-fluid">

        <div style='display:inline;' id="select_stop"></div>
        <div style='display:inline;' id="bus_dropdown"></div>
        <div style='display:inline;' id="edit_stops"></div>
        <div id='del'>

        <form id='form1' method="POST" action="/delete_my_stop/" class="form-group">
            {% csrf_token %}
            {{ form1 }}
        </form>

            <form id='form1' method="POST" action="/delete_my_stop/" class="form-group">
                {% csrf_token %}
                {{ form1 }}
</form>
        </div>
    </div>
</div>

<div id="test"></div>

<form id='logout' method="POST" action="/logout/" class="form-group">
            {% csrf_token %}
        </form>
    {% csrf_token %}
</form>
</body>


<script>
window.onload = getStops2()

$('#edit_stops').on('change', function() {
  var x = $('#edit_stops').find(":selected").text();
  console.log(x)
  document.getElementById('form1').value = x;
  document.forms['form1'].elements['name'].value = x
  if (confirm("This stop will be deleted")){
  $("#form1").submit()
  }
  else{
  return
  }
});


</script>
<script>
function logOut(){
    console.log('here')
    document.getElementById("logout").submit();
    }

</script>
<script>
// this function filters the divs by the bus and stop selector menu
$('#bus_dropdown').on('change', function() {
  var x = $('#bus_dropdown').find(":selected").text();
  var y = $('#select_stop').find(":selected").text();
  console.log(x, y)

  if (x == 'All' && y=='All'){
    clear_filter()
    return;
    }
    else{

    // check if both selectors are being used or just one (see get_filter function)
    //returns either a stop, a bus or a stop and bus (depending on selectors)
    var fil = get_filter(x, y)
    //create a regex varaible for matching
    var regex = new RegExp('\\b\\w*' + fil + '\\w*\\b');

    $('#test > div').hide("slow").filter(function () {
        //match the data tags (contain a stop and bus data)
        return regex.test($(this).data('tag'))
    }).show("slow");
    }
  });

function clear_filter(){
    $('#test > div').show("slow");

}

</script>

<script>
// repeats the function above on the stop selector menu
$('#select_stop').on('change', function() {

   var x = $('#bus_dropdown').find(":selected").text();
  var y = $('#select_stop').find(":selected").text();
    console.log(x, y)
  if (x == 'All' && y=='All'){
    clear_filter()
    }
    else{
    var fil = get_filter(x, y)
    var regex = new RegExp('\\b\\w*' + fil + '\\w*\\b');

    $('#test > div').hide("slow").filter(function () {
        return regex.test($(this).data('tag'))
    }).show("slow");
    }
  });

function change()

// this function inverts the colours on the page for dark mode
//code adapted from https://stackoverflow.com/questions/4766201/javascript-invert-color-on-all-elements-of-a-page
{
    let css = 'html {-webkit-filter: invert(100%);' +
    '-moz-filter: invert(100%);' +
    '-o-filter: invert(100%);' +
    '-ms-filter: invert(100%); }';

  let head = $('head')[0];
  let invertStyle = $('#invert')[0];

  if (invertStyle) {
    head.removeChild(invertStyle);
  } else {
    let style = document.createElement('style');

    style.type = 'text/css';
    style.id = 'invert';
    if (style.styleSheet){
      style.styleSheet.cssText = css;
    } else {
      style.appendChild(document.createTextNode(css));
    }

    //injecting the css to the head
    head.appendChild(style);
  }
  }

// this functiton is called when the selector menus are picked to see if it needs tto be filtered
// by stop and bus or just stop or just bus
function get_filter(bus, stop){
    console.log(bus, stop)
    if(bus == 'All' && stop == 'All'){
    return 'All'

    }

    if(bus == 'All' && stop != 'All'){
        return stop
      }

    if(stop == 'All' && bus != 'All'){
    return bus }

    if(stop != 'All' && bus !='All'){
        var ret = (bus + "," + stop).toString()
       return ret
       }
}

</script>
<script>

</script>
</html>