<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="/static/stations.js"></script>

</head>
<body>

{% if user.is_authenticated %}
<p>Hello, {{user.email}} </p>
{%else%}
<p>Not logged in ((( this will be changed to not show any elements
    if user not logged in)) </p>
{%endif%}
<form action='/mystations_auth' method='GET'>
    <button type='submit'>Submit</button>
</form>
<div id="select_stop"></div>
<div id="bus_dropdown"></div>
<div id="edit_stops"></div>

<button onclick="getStops()">show stops</button>

<div id='del'>
    <form id='form1' method="POST" action="/delete_my_stop/" class="form-group">
        {% csrf_token %}
        {{ form1 }}
    </form>

</div>

<div id="data"></div>
</body>


<script>
$('#edit_stops').on('change', function() {
  var x = $('#edit_stops').find(":selected").text();
  console.log(x)
  document.getElementById('form1').value = x;
  document.forms['form1'].elements['name'].value = x
  if (confirm("This stop will be deleted")){
  $("#form1").submit()
  }
  else{
  return
  }
});


</script>

<script>
$('#bus_dropdown').on('change', function() {
  var x = $('#bus_dropdown').find(":selected").text();
  console.log(x)
  if (x == 'All'){
    clear_filter()
    }
    else{
    var regex = new RegExp('\\b\\w*' + x + '\\w*\\b');

    $('#data > div').hide().filter(function () {
        return regex.test($(this).data('tag'))
    }).show();
    }
  });

function clear_filter(){
    $( '#data > div' ).show();
}

</script>
<script>
    $('#select_stop').on('change', function() {
  var y = $('#select_stop').find(":selected").text();
    if (y == 'All'){
    clear_filter()
    }
    else{
    var regex = new RegExp('\\b\\w*' + y + '\\w*\\b');

    $('#data > div').hide().filter(function () {
        return regex.test($(this).data('tag'))
    }).show();
    }
  });
function clear_filter(){
    $( '#data > div' ).show();
}

</script>
</html>