*{
    margin: 0;
    padding: 0;
    }

h4 {
    text-align: center;
    color: #FFCC00;
    }
.bus-item {
    text-align: center;
    background-color: #FFCC00;
    width: 100%;
    text-align: center;
     -webkit-box-shadow:0 0 15px #ffffff;
    -moz-box-shadow: 0 0 15px #ffffff;
    box-shadow:0 0 15px #ffffff;
    }
 #bod {
    background-color: #25B5F1;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 }

.selects {
display: inline;
}
.my_label {
    color: #4284f5;
}

.navbar
{   height:80px;
    box-shadow: 0 5px 10px #efefef;
    }
.logo{
    height:45px;
    padding: 2px 0px
    }

ul{
float: right}
 li {
 padding: 8px;
 padding-top: 0px
 float:right
  position: relative
}

#greeting {
text-align: centre;
}

select {
    background-color: #FFF0F5;

     -webkit-box-shadow:0 0 15px #ffffff;
    -moz-box-shadow: 0 0 15px #ffffff;
    box-shadow:0 0 15px #ffffff;
}

#test {
    position: relative;
    top: 50%;
    left: 25%;
    width: 50%;
            }

#main {
    position: relative;
    top: 50%;
    left: 15%;
}