<!DOCTYPE html>
<html lang="en"></html>
<head>
    <title>Home</title>
    <script>
        // Map initialization
        var map
        function initMap() {
            var mapProp = {
                // map coordinates
                center: new google.maps.LatLng(53.3472, -6.2592),
                zoom: 12,
            };
            map = new google.maps.Map(document.getElementById("map"), mapProp);
            // Bus stop option initialization
            initBusStops();
        }
    </script>
    <script>
        var busStops;
        function initBusStops(){
            // read bus station data from server
            fetch("busstation", {
                method:'GET'}).then(function(response) {
                    return response.json();
                })
            .then(function(busData) {
                // create bus station option 
                var startStop = document.getElementById('start_stop');
                var endStop = document.getElementById('end_stop');
                var str= "";
                var count = 0;
                busData.forEach(element => {
                    // log shows all bus station 
                    // console.log(element.shortcommonname_en);
                    var startOption=document.createElement("option")
                    startOption.setAttribute("value",element.shortcommonname_en);
                    startStop.appendChild(startOption);
                    var endOption=document.createElement("option")
                    endOption.setAttribute("value",element.shortcommonname_en);
                    endStop.appendChild(endOption);
                });
                // console.log(busData);
            });
        }
    </script>

    <script>
        // Submit the starting and ending stations and return to the navigation route
        function markBusStation(){
            var start = document.forms["bus_stop"]["start_stop"].value;
            console.log(start);
            var end = document.forms["bus_stop"]["end_stop"].value;
            console.log(end);
            let url = 'route/'+'?start_stop='+start+'&end_stop='+end;
            console.log(url);
            fetch(url, {
                method:'GET'}).then(function(response) {
                    return response.json();
                })
            .then(function(routeDate){
                    var path_coordinates = [];
                    var mapProp = {
                // map coordinates
                        center: new google.maps.LatLng(53.3472, -6.2592),
                        zoom: 12,
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapProp);
                    routeDate.forEach(coordinate => {
                        var temp = {'lat' : coordinate.latitude, 'lng' : coordinate.longitude};
                        path_coordinates.push(temp)
                        const marker = new google.maps.Marker({
                            position: {
                                lat: coordinate.latitude,
                                lng: coordinate.longitude
                            },
                            map: map,
                        });
                    });
                    console.log(path_coordinates);
                    console.log(path_coordinates);
                    const flight_path = new google.maps.Polyline({
                        path: path_coordinates,
                        geodesic: true,
                        strokeColor: "#FF0000",
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                    });
                    flight_path.setMap(map);
            });
        }
    </script>

    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
    <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  
    window.myWidgetParam.push({
        id: 11,cityid: '2964574',
        appid: '86e6d9e6dddfc8dccd6899f2454e98c2',
        units: 'metric',
        containerid: 'openweathermap-widget-11',  });  
        (function() {var script = document.createElement('script');
        script.async = true;
        script.charset = "utf-8";
        script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
        var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);})();
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHY3W-xvNE-42BipvMY_-lu4aKdnB5xn4&callback=initMap&libraries=&v=weekly" async>
    </script>
</head>

<body>
    <div id="openweathermap-widget-11" style="width:1920px;"></div>


    <form action="route/" name = "bus_stop" onsubmit="return markBusStation()">
        <input list="start_stop" name="start_stop" placeholder="From" />
        <datalist id="start_stop"></datalist>
        <input list="end_stop" name="end_stop" placeholder="To" />
        <datalist id="end_stop"></datalist>
        <input type="button" onclick="return markBusStation()" value="submit" style="height: 3em; margin: 0.5em;"> 
    </form>
    <div id="map" style="width:1020px;height:680px;"></div>
</body>

</html>
