<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- local static files -->
    <link rel="stylesheet" href="{% static 'map/css/mstyle.css' %}">
    <link rel="stylesheet" href="{% static 'map/css/buttons.css' %}">
    <script src="{% static 'map/js/minit.js' %}"></script>
    <script src="{% static 'map/js/main.js' %}"></script>
    <script src="{% static 'map/js/route.js' %}"></script>
    <script src="{% static 'map/js/plan.js' %}"></script>
    <script src="{% static 'map/js/weather.js' %}"></script>
    <script src="{% static 'map/js/updates.js' %}"></script>
    <script src="{% static 'map/js/favoritestop.js' %}"></script>
    

    <!-- bootstrap files -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="{% static 'map/css/mdb.min.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Home</title>
    <script>
        // save from map operations
        var map;
        var directionsService;
        var directionsRenderer;
        // three arrays use for input validation (not done yet)
        var dateArray = new Array();
        var timeArray = new Array();
        var busStopsArray = new Array();
        // Map initialization
        function initMap() {
            var mapProp = {
                // map coordinates
                center: new google.maps.LatLng(53.3472, -6.2592),
                zoom: 12,
                mapTypeControl: false,
                streetViewControl: false,
                scaleControl: false,
                fullscreenControl: false,
                disableDefaultUI: true,
            };
            // google map initialization
            map = new google.maps.Map(document.getElementById("map"), mapProp);
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();

            // time date option initialization
            initDateTime();
            // Bus stop option initialization
            initBusStops();
            // bing button with function
            iniEventListener();
            // load plan from server
            scy_plan();
            // load plan from local storage
            loadPlanFromJson();
            // set button on google map
            initControl();
            // set log in/log out button
            initUserStatus();
        }
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHY3W-xvNE-42BipvMY_-lu4aKdnB5xn4&callback=initMap&libraries=&v=weekly"
        async>
        </script>

    <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 9, cityid: '2964574', appid: '86e6d9e6dddfc8dccd6899f2454e98c2', units: 'metric', containerid: 'openweathermap-widget-9', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
    <style>
        
    </style>
</head>

<body>
    <!-- KAI TO STYLE PROPERLY :) -->
    <div id="messages_div" class="container-fluid">
        {% if messages %}
        <div class="messages row p-3">
            {% for message in messages %}
            <div class="col-md-11 my-auto">{{ message }}</div>
            {% endfor %}
            <div class="col-md-1 my-auto"><button class="btn btn-light" onclick="clear_messages()">OK</button></div>
        </div>
        {% endif %}
    </div>

    <div class="container-fluid card nav_bar" style="height: 8vh;">
            <nav class="navbar navbar-expand navbar-light" style="height: 8vh;">
                <div>
                    <a class="navbar-brand my-auto" href="/map" style="color: #2f2f2f; float: right;"><b><small>No Fuss Bus</small></b></a>                 
                </div>


                <div class="dropdown" id="log" style="float:right">
                    <button class="btn btn_myaccount dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 5px; padding-left: 15px; padding-right: 15px; margin-right: 10px;" >
                        NEWS/ TIPS
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="min-width: 100px;">
                        <li>
                            <button class="dropdown-item"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                            aria-controls="offcanvasScrolling" style="margin-right: 15px; border-radius: 5px;">Bus News</button>                      
                        </li>

                        <li>
                            <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#tips"
                aria-controls="offcanvasScrolling" style="margin-right: 1%;">Tips</button>
                        </li>
                    </ul>
                </div>

                <div class="dropdown" id="log" style="float:right">
                    <button class="btn btn_myaccount dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 5px;">
                        Account
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="min-width: 100px;">
                        
                        {% if user.is_authenticated %}
                        <li>
                            <form  method="GET" action="/mystations">
                                <input class="dropdown-item" type="submit" value="Profile">
                            </form>                           
                        </li>
                        

                        <li>
                            <button class="dropdown-item" onclick="logOut()">
                                Logout
                            </button>
                        </li>

                        <form style="display: none;" id='logout' method="POST" action="/logout/" class="form-group">
                            {% csrf_token %}
                        </form>
                        <script>
                            function logOut(){document.getElementById("logout").submit();}                          
                        </script>


                        <li>
                            <button type="submit" class="dropdown-item"  onclick="confirm_me()">
                                Delete Account
                            </button>
                        </li>
                        {%else%}
                        <li>
                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#login">
                                Login
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#register">
                                Register
                            </button>
                        </li>                       
                        {%endif%}
                    </ul>
                </div>
            </nav>
        
    </div>

        

    <!-- <div class="container-fluid"> -->
        <div id="map" style="height:92vh;"></div>
    <!-- </div> -->


    <div id="main_panel">
        <div class="collapse " id="plan_panel">
            <div class="card plan_card">
                <div id="plan_container"></div>
            </div>
            <div class="card plan_detail_card">
                <div id="plan_detail_container">
                    <div class="card route_card shadow">ROUTE DETAIL</div>
                </div>
            </div>
        </div>

        <div class="collapse " id="search_panel">
            <div class="card search_card">
                <button class="btn btn-danger btn_size" onclick="getLocation()">From My Location</button>
                <form action="route/" name="bus_stop" id="search_form">

                    <div class="input-group mb-3">
                        <input class="form-control" id="floatingStart" list="start_stop" name="start_stop"
                            placeholder="From*" />
                        <input class="btn btn-outline-danger" id="add_stop1" type="button" value="STAR">
                    </div>
                    <datalist id="start_stop"></datalist>

                    <div class="input-group mb-3">
                        <input class="form-control" id="floatingEnd" list="end_stop" name="end_stop"
                            placeholder="To*" />
                        <input class="btn btn-outline-danger " id="add_stop2" type="button" value="STAR">
                    </div>
                    <datalist id="end_stop"></datalist>

                    <div class="input-group">
                        <input class="form-control" id="floatingDate" list="date" name="date" placeholder="Date*" />
                        <input class="form-control" id="floatingTime" list="time" name="time" placeholder="Time*" />
                    </div>
                    <datalist id="date"></datalist>
                    <datalist id="time"></datalist>

                    <div class="mb-3"></div>

                    <div class="mb-3">
                        <input class="form-control" id="floatingTime" list="plan_name" name="plan_name"
                            placeholder="plan name" />
                    </div>
                    <datalist id="time"></datalist>

                    <input class="btn btn-dark btn_size" data-bs-toggle="collapse" href="#search_detail_panel"
                        aria-expanded="false" aria-controls="search_detail_panel" id="submit" type="button"
                        value="Submit" style="height: 3em; margin: 0.5em;">

                    <input class="btn btn-danger btn_size" id="save" type="button" value="Add Plan"
                        style="height: 3em; margin: 0.5em;">
                </form>
                <button class="btn btn-danger btn_size" id="clear" value=""
                        style="height: 3em; margin: 0.5em;" onclick="clear_details()">Clear</button>
            </div>

            <div class="card detail_card">
                <div id="detail_container">
                    <div class="card route_card shadow">ROUTE DETAIL</div>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="weather_detail_container">
        <div class="shadow p-3 mb-5 bg-body rounded" id="openweathermap-widget-9"></div>
    </div>


    <input class="btn btn-light btn_size button-myplan" data-bs-toggle="collapse" href="#search_panel"
        aria-expanded="false" aria-controls="search_panel" id="search" type="button" value="Search Route"
        style="display: none; margin-top: 8px;">

    <input class="btn btn-light btn_size button-search" data-bs-toggle="collapse" href="#plan_panel"
        aria-expanded="false" aria-controls="plan_panel" id="plan" type="button" value="My Plan"
        style="display: none; margin-top: 8px; margin-left: 15px;">

    <input class="btn btn-light btn_size" data-bs-toggle="collapse" href="#weather_detail_container"
        aria-expanded="false" aria-controls="weather_detail_container" id="weather" type="button" value="Weather"
        style="display: none;">


    <!-- Modal for register-->
    <div class="modal fade" id="register" tabindex="-1" aria-labelledby="register" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Welcome</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3" class="form-group">
                        <form method="POST" action="/users/">
                            {% csrf_token %}
                            {{ form1|crispy }}
                            <br>
                            <button type="submit" class="btn  btn-dark">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal for login-->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/login/" method="POST">
                        {% csrf_token %}
                        {{ form2|crispy }}
                        <br>
                        <button type="submit" name="" class="btn btn-dark">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">BUS NEWS</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <h6>&nbsp&nbsp&nbsp&nbspDUBLIN BUS TWEETS</h6>
        <div class="offcanvas-body" style="height: 50%;">
            <div id='twitter_div' style="height: 100%; width: 100%">
                <a class="twitter-timeline"
                    href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                    data-tweet-limit="10">
                    Tweets by @dublinbusnews</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <h6 class="title-traffic">&nbsp&nbsp&nbsp&nbspTRAFFIC UPDATES</h6>
        <div style="background-color: #f5f5f5;" class="offcanvas-body" style="height: 50%;">
            <div class="container">
                <div id="traffic_updates">
                </div>
            </div>
        </div>
    </div>
    
    <!--side bar for tips-->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="tips" aria-labelledby="tipsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tipsLabel">Some Tips</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="container">
                <h5>1. If you wish to purchase bus card you can visit leapcard official website.</br></h5>
                <p>Click on the images below to visit the website.</p>
                <a href="https://leapcard.ie/en/Home/index.html"> <img src="https://www.leapcard.ie/_newlook/images/main-logo.png" alt="Click here visit leapcard website." style="height: 140px; width: 240px;"></a>
                </br>
                </br>

                <h5>2. If you are student, you can enjoy student discount leapcard.</br></h5>
                <a href="https://www.studentleapcard.ie/"> <img src="https://images.squarespace-cdn.com/content/v1/5383a76de4b06dea6734f421/1609759239192-6ESCJJ3S438IH5RK4G0R/Image+of+the+new+Blue+Student+Leap+Card+2020%2F2021?format=750w" alt="Click here visit student leapcard website." style="height: 140px; width: 240px;"></a>
                </br>
                </br>

                <h5>3. Bus fare is different depending on the number of the stations and the age of the passenger boarding. If you have the leapcard your fare will be reduced.</br></h5>
                <a href="https://www.transportforireland.ie/fares/bus-fares/"> <img src="https://www.transportforireland.ie/wp-content/themes/transportforireland/assets/img/branding/transport-for-ireland-logo.svg" alt="Fare for Dublin City Bus Network." style="height: 140px; width: 240px;"></a>
                </br>
                </br>
            </div>
        </div>
    </div>
    <div style = display='none' id="demo1"></div>
    <div style = display='none' id="demo2"></div>
</body>

</html>