.detail_card::-webkit-scrollbar,.plan_detail_card::-webkit-scrollbar,.search_card::-webkit-scrollbar,.plan_card::-webkit-scrollbar,#weather_detail_container::-webkit-scrollbar,#detail_container::-webkit-scrollbar, #plan_detail_container::-webkit-scrollbar,#search_form::-webkit-scrollbar, #plan_container::-webkit-scrollbar { width: 0 !important }

.search_card {
    background-color: #fcfcfc !important;
    width: 98%; 
    height: auto; 
    border-radius: 10px !important;
    overflow-y: auto;
}
/* search result box */
.detail_card{
    background-color: #fcfcfc !important;
    width: 98%; 
    height: 23em; 
    /* width: 400px; 
    height: 250px;  */
    border-radius: 10px !important;
    margin-top: 3%;
    overflow-y: auto;
    padding-right: 3%;
    padding-left: 3%;
}

.plan_card{
    background-color: #fcfcfc !important;
    width: 98%; 
    height: 23em; 
    border-radius: 10px !important;
    overflow-y: auto;
}

.plan_detail_card{
    background-color: #fcfcfc !important;
    width: 98%; 
    height: 26em; 
    /* width: 400px; 
    height: 250px;  */
    border-radius: 10px !important;
    margin-top: 3%;
    overflow-y: auto;
    padding-right: 3%;
    padding-left: 3%;
}


.plan_card{
    padding-left: 3%;
    padding-right: 3%;
}
.search_card{
    padding: 4%;
}




.route_card{
    /* color: #fcfcfc!important;
    background-color:#2f2f2f !important; */
    color: #fcfcfc!important;
    background-color:#2f2f2f !important;
    text-align: center!important;
    font-weight: bold;
    margin: 2%;
    padding: 1.5%;
    font-size: 1.2em !important;
}
.route_detail_card{
    background-color: #FFCC00 !important;
    color: #2f2f2f !important;
    text-align: left!important;
    font-weight: bold;
    margin: 2%;
    margin-top: 3%;
    font-size: 1.4em;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5em;
}
.nav_bar{
    background-color: #FFCC00 !important;
    border-radius: 0px !important;
}
#messages_div{
    background-color: #f44336; 
    color: white; 
}
#main_panel{
    margin-top: 2%;
    margin-left: 1%;
}
#search{
    margin-top: 1%;
    margin-left: 2%;
}
#plan{
    margin-top: 1%;
    margin-left: 2%;    
}
#weather{
    margin-top: 1%;
    margin-right: 1%;
}
#weather_detail_container{
    margin-top: 1%;
    margin-right: 1%;  
}
#add_stop1,#add_stop2,#floatingStart,#floatingEnd,#floatingDate,#floatingTime,#submit,#save,#search,#plan,#weather{
    font-weight: bold;
}
#id_name {
    max-height: 20px;
}
.plan-group{
    margin: 2%;
}
.button-plan{
    text-align: left!important;
    width: 100%;
    font-size: 1.2em !important;
    line-height: 1.5em !important;
    color: #fcfcfc!important;
    background-color: #2f2f2f !important;
}
.button-delete{
    font-size: 1.2em !important;
    color: #fcfcfc!important;
    
}
.button-myplan{
    color: #2f2f2f!important; 
    background-color: #25B5F1 !important;
}
.button-search{
     color: #2f2f2f!important;
    background-color: #FFCC00 !important;
}   
.btn_size{
    font-size: 1.2em !important;
}
.btn_profile{
    color: #fcfcfc!important;
    background-color: #2f2f2f !important;   
}

.btn_myaccount{
    color: #fcfcfc!important;
    background-color: #2f2f2f !important;   
}

.traffic_card{
    background-color: #FFCC00 !important;
    color: #2f2f2f !important;
    text-align: left!important;
    font-weight: bold;
    margin: 2%;
    margin-top: 3%;
    font-size: small;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5em;
}

.title-traffic{
    border-top: double;
    padding: 3%;
    padding-top: 5% !important;
}

#traffic_updates {
    background-color: #f5f5f5 !important;
    padding-top: 0%;
}