#weather_detail_container::-webkit-scrollbar,#detail_container::-webkit-scrollbar, #plan_detail_container::-webkit-scrollbar,#search_form::-webkit-scrollbar, #plan_container::-webkit-scrollbar { width: 0 !important }
#search_form, #plan_container{
    overflow-y: auto;
    width:400px; 
    height:300px;
    background-color:white;
    padding: 3%;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2), 3px 6px 10px 3px rgba(0,0,0,0.19);
}
#detail_container, #plan_detail_container{
    overflow-y: auto;
    width:400px; 
    height:250px;
    background-color:white;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2), 3px 6px 10px 3px rgba(0,0,0,0.19);
    padding: 3%;
}
#main_panel{
    margin-top: 2%;
    margin-left: 1%;
}
#search{
    margin-top: 1%;
    margin-left: 2%;
}
#plan{
    margin-top: 1%;
    margin-left: 2%;    
}
#weather{
    margin-top: 1%;
    margin-right: 1%;
}
#weather_detail_container{
    margin-top: 1%;
    margin-right: 1%;  
}
#floatingStart,#floatingEnd,#floatingDate,#floatingTime,#submit,#save,#search,#plan,#weather{
    font-weight: bold;
}
.button-plan{
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: left;
    line-height: 30px;
    width: 19em;
    /* height: 100%; */
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1% 0 1% 1%;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
}

.button-delete{
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: left;
    line-height: 30px;
    width: 5em;
    /* height: 100%; */
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1% 1% 1% 1%;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
}

.route-detail{
    background-color: #ffea2b;
    border-color: #000000;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration:none;
    text-align: left;
    line-height: 30px;
    width: 23em;
    /* height: 100%; */
    padding: 3% 1% 3% 3%;
    margin: 1%;
    display: inline-block;
    appearance: none;
    border:12em;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
}

.route-title{
    background-color: #000000;
    border-color: #000000;
    color: #ffea2b;
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    width: 23em;
    margin-left: 1%;
    margin-bottom: 2%;
    display: inline-block;
    appearance: none;
    border:12em;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
}

.plan-title{
    background-color: #4cb0f9;
    border-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    width: 23em;
    margin-left: 1%;
    margin-bottom: 2%;
    display: inline-block;
    appearance: none;
    border:12em;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
}
#id_name {
    max-height: 20px;

}
